@{
    var conexionDB = Database.Open("ObligacionesOU");
    var datos = conexionDB.Query ("SELECT * FROM OU"); 
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BaseOU</title>
        <script src="js/jquery110.js"></script>
        <script src="js/codigo.js"></script>
        <script src="js/excel.js"></script>
        
        
        <link rel="stylesheet" href="css/tabletStyle.css" />


         

    </head>
    <body>
        <h1>Base de Datos Obligaciones Urbanisticas</h1>
        <div id="Contenedor">
            <div id="menu-ppal">
                <div id="abre-menu">
                    »
                </div>
            </div>
            <br>
            <div id="menu">
                <ul>
                    <li><a href="BaseOU">Obligaciones Urbanisticas</a><img src="img/bd.png" width="50px" alt="." ></li>
                    <li><a href="InsertarOU">Insertar</a></li>
                    <li><a href="ActualizarOU">Actualizar</a></li>
                    <li><a href="EliminarOU">Eliminar</a></li>
                    <li><a href="ExportarOU">Exportar</a></li>
                </ul>
            </div>
            <section id="tabla" >
                    <table border="0" id="obligaciones">
                         <colgroup>
    	                    <col class="oce-first" />
                          </colgroup>
                        <thead>
                            <tr>
                                <th id="thF">Fecha Recibido</th>
                                <th>Número Tramite</th>
                                <th>Nombre Solicitante</th>
                                <th>Nombre Edificio o Dirección</th>
                                <th>Cobama</th>
                                <th>Barrio</th>
                                <th>Matricula</th>
                                <th>Número OU</th>
                                <th>Fecha Respuesta</th>
                                <th>Nombre Funcionario</th>
                                <th>V/R LOTE 100</th>
                                <th>Vr. Const al 50%</th>
                                <th>Vr. M2 Construído L/C</th>
                                <th id="thU">Observaciones</th>
                            </tr>

                        </thead>
                        
                        <tbody>
                            @foreach (var fila in datos){
                                 <tr>
                                     <td id="tdF">@fila.FechaRecibido</td>
                                     <td>@fila.NumeroTramite</td>
                                     <td>@fila.NombreSolicitante</td>
                                     <td>@fila.NomEdificioDir</td>
                                     <td>@fila.Cobama</td>
                                     <td>@fila.Barrio</td>
                                     <td>@fila.Matricula</td>
                                     <td>@fila.NumeroOU</td>
                                     <td>@fila.FechaRespuesta</td>
                                     <td>@fila.NombreFuncionario</td>
                                     <td>@fila.VRLote100</td>
                                     <td>@fila.VrConstal50</td>
                                     <td>@fila.Vrm2construidoLC</td>
                                     <td id="tdU">@fila.Observaciones</td>
                                 </tr>
                             }
                        <tr>
                            <td colspan="14" id="tdUl"></td>
                        </tr>

                        </tbody> 
                    </table>
            </section>
            <img src="img/bd.png" alt="Fock" id="excel">
        </div>
    </body>
</html>
